.nav{
    position: fixed;
    left: 0;
    font-size: 20px;
    background-color: #f5f5f5;
    z-index: 9999;
    width: 200px;
    height: 100%;
    border-right: 2px solid;
    box-shadow: 2px 50px 5px 0px rgba(191,191,191,1);
}

.nav > div{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 2px solid;
}

.nav > div a{
    display: block;
    width: 100%;
}
