.nav{
    position: fixed;
    left: 0;
    top: 60px;
    font-size: 20px;
    background-color: #f5f5f5;
    z-index: 9998;
    width: 200px;
    height: 100%;
    border-right: 2px solid;
    box-shadow: 2px 0px 5px 0px rgba(191,191,191,1);
}

.nav > div{
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid;
}

.nav > div a{
    padding-left: 10px;
    display: block;
    width: 100%;
}
.nav > div a:hover{
    background-color: #5db75d;
    color: white;
}
a{
    color: black;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    text-decoration: none;
}
